# Importing Packages

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import os
os.getcwd()

'C:\\Users\\sushm\\PGA36\\CapstoneProject1'

# Importing Dataset

In [4]:
Obesity_Data=pd.read_excel("Obesity_Datanew.xlsx")

# Basic Understanding

In [5]:
Obesity_Data.head()

,Gender,Age,DOB,Height,Weight,family_history_with_overweight,Colour,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,2003-01-01,1.62,64.0,yes,Light Skin,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,2003-01-01,1.52,56.0,yes,NaN,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,2001-01-01,1.80,77.0,yes,NaN,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1997-01-01,1.80,87.0,no,NaN,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,2002-01-01,1.78,89.8,no,NaN,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [6]:
Obesity_Data.shape

(2186, 19)

In [7]:
Obesity_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2186 entries, 0 to 2185
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2186 non-null   object
 1   Age                             2186 non-null   float64
 2   DOB                             2186 non-null   datetime64[ns]
 3   Height                          2186 non-null   float64
 4   Weight                          2186 non-null   float64
 5   family_history_with_overweight  1817 non-null   object
 6   Colour                          252 non-null    object
 7   FAVC                            2186 non-null   object
 8   FCVC                            2186 non-null   float64
 9   NCP                             1996 non-null   float64
 10  CAEC                            1624 non-null   object
 11  SMOKE                           2186 non-null   object
 12  CH2O                            2186 non-null   float64
 13  SCC                             2186 non-null   object
 14  FAF                             2186 non-null   float64
 15  TUE                             1908 non-null   float64
 16  CALC                            2186 non-null   object
 17  MTRANS                          2186 non-null   object
 18  NObeyesdad                      2186 non-null   object
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 324.6+ KB

In [8]:
Obesity_Data.isnull().sum()

Gender                               0
Age                                  0
DOB                                  0
Height                               0
Weight                               0
family_history_with_overweight     369
Colour                            1934
FAVC                                 0
FCVC                                 0
NCP                                190
CAEC                               562
SMOKE                                0
CH2O                                 0
SCC                                  0
FAF                                  0
TUE                                278
CALC                                 0
MTRANS                               0
NObeyesdad                           0
dtype: int64

In [9]:
Obesity_Data.describe()

,Age,DOB,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2186.000000,2186,2186.000000,2186.000000,2186.000000,1996.000000,2186.000000,2186.000000,1908.000000
mean,24.199421,1999-06-30 19:04:53.138151808,1.700406,85.930717,2.422470,2.680668,1.998744,1.007586,0.663239
min,14.000000,1963-01-01 00:00:00,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.818211,1998-01-01 00:00:00,1.628313,65.000000,2.000000,2.657437,1.541922,0.116548,0.000000
50%,22.616797,2001-01-01 00:00:00,1.700000,82.461669,2.393251,3.000000,2.000000,1.000000,0.629431
75%,26.000000,2004-01-01 00:00:00,1.767443,106.444536,3.000000,3.000000,2.472608,1.663930,1.000000
max,61.000000,2010-01-01 00:00:00,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000
std,6.315309,NaN,0.093754,26.438140,0.535203,0.787059,0.618591,0.850622,0.615490

In [10]:
Obesity_Data.describe(include='object')

,Gender,family_history_with_overweight,Colour,FAVC,CAEC,SMOKE,SCC,CALC,MTRANS,NObeyesdad
count,2186,1817,252,2186,1624,2186,2186,2186,2186,2186
unique,2,2,2,2,4,2,2,4,5,7
top,Male,yes,Light Skin,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_I
freq,1094,1462,137,1929,1342,2141,2082,1443,1644,354

In [11]:
Obesity_Data.duplicated().sum()

88

# Pre Processing

### Drop Duplicates

In [12]:
Obesity_Data.duplicated(keep='first').sum()

88

In [13]:
Obesity_Data=Obesity_Data.drop_duplicates()

### Drop Unwanted Columns

In [14]:
Obesity_Data.drop("DOB",axis=1,inplace=True)

In [15]:
Obesity_Data.head()

,Gender,Age,Height,Weight,family_history_with_overweight,Colour,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,Light Skin,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,NaN,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,NaN,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,NaN,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,NaN,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

 ### Drop Null Values

In [16]:
Obesity_Data.isnull().sum()

Gender                               0
Age                                  0
Height                               0
Weight                               0
family_history_with_overweight     358
Colour                            1856
FAVC                                 0
FCVC                                 0
NCP                                183
CAEC                               542
SMOKE                                0
CH2O                                 0
SCC                                  0
FAF                                  0
TUE                                269
CALC                                 0
MTRANS                               0
NObeyesdad                           0
dtype: int64

In [17]:
(Obesity_Data.isnull().sum()/Obesity_Data.shape[0]*100).sort_values(ascending=False)

Colour                            88.465205
CAEC                              25.834128
family_history_with_overweight    17.063870
TUE                               12.821735
NCP                                8.722593
CH2O                               0.000000
MTRANS                             0.000000
CALC                               0.000000
FAF                                0.000000
SCC                                0.000000
Gender                             0.000000
SMOKE                              0.000000
Age                                0.000000
FCVC                               0.000000
FAVC                               0.000000
Weight                             0.000000
Height                             0.000000
NObeyesdad                         0.000000
dtype: float64

#### 'Colour' has 88% null records so lets drop the column

In [18]:
Obesity_Data.drop('Colour',axis=1,inplace=True)

In [19]:
(Obesity_Data.isnull().sum()/Obesity_Data.shape[0]*100).sort_values(ascending=False)

CAEC                              25.834128
family_history_with_overweight    17.063870
TUE                               12.821735
NCP                                8.722593
CH2O                               0.000000
MTRANS                             0.000000
CALC                               0.000000
FAF                                0.000000
SCC                                0.000000
Gender                             0.000000
SMOKE                              0.000000
Age                                0.000000
FCVC                               0.000000
FAVC                               0.000000
Weight                             0.000000
Height                             0.000000
NObeyesdad                         0.000000
dtype: float64

#### we have 8% to 25% null values so we are filling the numerical columns with mean and categorical columns with mode

In [20]:
for i in Obesity_Data.columns:
    if Obesity_Data[i].dtype =='float64':
        Obesity_Data[i].fillna(Obesity_Data[i].mean(),inplace=True)
    else:
        Obesity_Data[i].fillna(Obesity_Data[i].mode()[0],inplace=True)

In [21]:
(Obesity_Data.isnull().sum()/Obesity_Data.shape[0]*100).sort_values(ascending=False)

Gender                            0.0
SMOKE                             0.0
MTRANS                            0.0
CALC                              0.0
TUE                               0.0
FAF                               0.0
SCC                               0.0
CH2O                              0.0
CAEC                              0.0
Age                               0.0
NCP                               0.0
FCVC                              0.0
FAVC                              0.0
family_history_with_overweight    0.0
Weight                            0.0
Height                            0.0
NObeyesdad                        0.0
dtype: float64

#### Rounding of values and converting the height from meters to centimeters

In [22]:
for i in Obesity_Data.columns:
    if Obesity_Data[i].dtype == "float64":
        Obesity_Data = Obesity_Data.round(1)
Obesity_Data.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.6,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.5,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.8,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.8,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.8,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [23]:
Obesity_Data["Height"]=Obesity_Data["Height"]*100

In [24]:
Obesity_Data.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,160.0,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,150.0,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,180.0,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,180.0,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,180.0,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

#### Converting Float to int

In [25]:
for i in Obesity_Data.columns:
    if Obesity_Data[i].dtype == "float64":
        Obesity_Data[i] = Obesity_Data[i].astype('int64')
Obesity_Data.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21,160,64,yes,no,2,3,Sometimes,no,2,no,0,1,no,Public_Transportation,Normal_Weight
1,Female,21,150,56,yes,no,3,3,Sometimes,yes,3,yes,3,0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23,180,77,yes,no,2,3,Sometimes,no,2,no,2,1,Frequently,Public_Transportation,Normal_Weight
3,Male,27,180,87,no,no,3,3,Sometimes,no,2,no,2,0,Frequently,Walking,Overweight_Level_I
4,Male,22,180,89,no,no,2,1,Sometimes,no,2,no,0,0,Sometimes,Public_Transportation,Overweight_Level_II

In [26]:
Obesity_Data.dtypes

Gender                            object
Age                                int64
Height                             int64
Weight                             int64
family_history_with_overweight    object
FAVC                              object
FCVC                               int64
NCP                                int64
CAEC                              object
SMOKE                             object
CH2O                               int64
SCC                               object
FAF                                int64
TUE                                int64
CALC                              object
MTRANS                            object
NObeyesdad                        object
dtype: object

#### Renaming the columns

In [27]:
Obesity_Data.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history_with_overweight',
       'FAVC', 'FCVC', 'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE',
       'CALC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

In [28]:
Obesity_Data = Obesity_Data.rename(columns={'FAVC': 'Freq_Cons_of_high_cal_food', 'FCVC': 'Freq_cons_of_veg',
                                            "NCP":"No_of_main_meals","CAEC":"Cons_of_food_btw_meals","CH2O":"Cons_of_Water",
                                            "SCC":"Cal_Cons_Mon","FAF":"FreqPhysicalActivity","TUE":"Time_sepnt_on_devices",
                                           "CALC":"AlcoholCons","MTRANS":"Meansoftransportation"})

In [29]:
Obesity_Data.head()

,Gender,Age,Height,Weight,family_history_with_overweight,Freq_Cons_of_high_cal_food,Freq_cons_of_veg,No_of_main_meals,Cons_of_food_btw_meals,SMOKE,Cons_of_Water,Cal_Cons_Mon,FreqPhysicalActivity,Time_sepnt_on_devices,AlcoholCons,Meansoftransportation,NObeyesdad
0,Female,21,160,64,yes,no,2,3,Sometimes,no,2,no,0,1,no,Public_Transportation,Normal_Weight
1,Female,21,150,56,yes,no,3,3,Sometimes,yes,3,yes,3,0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23,180,77,yes,no,2,3,Sometimes,no,2,no,2,1,Frequently,Public_Transportation,Normal_Weight
3,Male,27,180,87,no,no,3,3,Sometimes,no,2,no,2,0,Frequently,Walking,Overweight_Level_I
4,Male,22,180,89,no,no,2,1,Sometimes,no,2,no,0,0,Sometimes,Public_Transportation,Overweight_Level_II

#### Value Counts

In [30]:
Obesity_Data_COls=['Gender', 'family_history_with_overweight',
       'Freq_Cons_of_high_cal_food', 'Freq_cons_of_veg', 'No_of_main_meals',
       'Cons_of_food_btw_meals', 'SMOKE', 'Cons_of_Water', 'Cal_Cons_Mon',
       'FreqPhysicalActivity', 'Time_sepnt_on_devices', 'AlcoholCons',
       'Meansoftrans', 'NObeyesdad']

In [31]:
for i in Obesity_Data_COls:
    print(Obesity_Data[i].value_counts())
    print("------------------------------------------------")

Gender
Male      1057
Female    1041
Name: count, dtype: int64
------------------------------------------------
family_history_with_overweight
yes    1787
no      311
Name: count, dtype: int64
------------------------------------------------
Freq_Cons_of_high_cal_food
yes    1854
no      244
Name: count, dtype: int64
------------------------------------------------
Freq_cons_of_veg
2    1216
3     699
1     183
Name: count, dtype: int64
------------------------------------------------
No_of_main_meals
3    1276
2     397
1     346
4      79
Name: count, dtype: int64
------------------------------------------------
Cons_of_food_btw_meals
Sometimes     1854
Frequently     177
Always          39
no              28
Name: count, dtype: int64
------------------------------------------------
SMOKE
no     2054
yes      44
Name: count, dtype: int64
------------------------------------------------
Cons_of_Water
2    1196
1     716
3     186
Name: count, dtype: int64
------------------------------------------------
Cal_Cons_Mon
no     2002
yes      96
Name: count, dtype: int64
------------------------------------------------
FreqPhysicalActivity
0    964
1    713
2    343
3     78
Name: count, dtype: int64
------------------------------------------------
Time_sepnt_on_devices
0    1452
1     536
2     110
Name: count, dtype: int64
------------------------------------------------
AlcoholCons
Sometimes     1390
no             637
Frequently      70
Always           1
Name: count, dtype: int64
------------------------------------------------

KeyError: 'Meansoftrans'

In [ ]:
excel_file_path = 'Obesity_Data_final.xlsx'  # Specify the path where you want to save the Excel file
Obesity_Data.to_excel(excel_file_path, index=False)